{% extends 'homepage/base.html' %}

{% block title %}Euphorum{% endblock %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/media/2398-coffee-break.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block" style="top:50%;">
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/media/I-Dont-Wanna_FB.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block" style="top:50%;">

      </div>
    </div>
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container text-center mb-5">
	<div class="row">
		<div class="col-md-12">
			<h2>WELCOME TO <strong class="text-primary">EUPHORUM</strong></h2>
			<p>We are all a little weird and life’s a little weird, and when we find others whose weirdness is compatible to ours, we join up with them in mutual weirdness and call it happiness!!</p>
		</div>
	</div>
</div>

<div class="container-fluid choose" data-wow-delay="5s">
	<div class="container pt-4 pb-4">
		<div class="row text-center mb-4">
			<div class="col-md-12">
				<h2 >SOMETHING<strong class="text-primary"> SPECIAL</strong></h2>
			</div>
		</div>
		
		<div class="row wow rubberBand animated" data-wow-delay="5s">
			<div class="col-md-4">
				<div class="card upper-card">
					<div class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
					<div class="card-body">
					<h3>Text Summarisation</h3>
					<p>Discussion forums have topics that stretch for pages and pages, not every user has the time
to graze through all of it.</p>
				</div>
				</div>
				
			</div>
			
			<div class="col-md-4">
				<div class="card upper-card">
					<div class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
					<div class="card-body">
					<h3>Emotion Detection</h3>
					<p>Current system for text based mood detection but not incorporating emotion detection, we fix that problem</p>
				</div>
				</div>
				
			</div>
			
			<div class="col-md-4">
				<div class="card upper-card">
					<div class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
					<div class="card-body">
					<h3>Forum</h3>
					<p>Healthy environment for the discussion as content based filtering removes as obscene and
untasteful content.</p>
				</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="container mt-5">
	<div class="row text-center">
		<div class="col-md-12">
			<h2>WHY <strong class="text-primary">EUPHORUM</strong></h2>
		</div>
	</div>
	
	<div class="row text-center">
		<div class="col-md-8 offset-md-2">
			<p>Atque ducimus velit, earum quidem, iusto dolorem. Ex ipsam totam quas blanditiis, pariatur maxime ipsa iste, doloremque neque doloribus, error. Corrupti, tenetur.
		</p>
        </div>
	</div>
	
	<div class="row mt-5">
		<div class="col-md-6">
			<img src="/media/tumblr_me9qy4Yv2C1rsxrv7o1_r1_500.png" alt="image" class="img-fluid m-auto wow fadeInLeft" data-wow-offset="100">
		</div>
		<div class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae tenetur sit quod quaerat officiis aperiam, molestiae nam omnis quam cupiditate. Eius amet nemo maxime error accusamus reprehenderit dignissimos. Necessitatibus, ipsa.</p>
			<div class="media">
				<i class="fa fa-eye" aria-hidden="true"></i>
				<div class="media-body">
					<h5 class="mt-0">we</h5>
					<p>Cras sit amet nibh libero, in gravida nulla. 
					</p>
				</div>
			</div>
			
			<div class="media">
				<i class="fa fa-diamond" aria-hidden="true"></i>
				<div class="media-body">
					<h5 class="mt-0">da</h5>
					<p>
                    Cras sit amet nibh libero, in gravida nulla. 
					</p>
				</div>
			</div>
			
			
			<div class="media">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<div class="media-body">
					<h5 class="mt-0">best</h5>
					<p>
                    Cras sit amet nibh libero, in gravida nulla. 
					</p>
				</div>
			</div>
		</div>
	</div>
	
</div>



<div class="container-fluid mt-5">
	<div class="row text-center mb-4">
		<div class="col-md-12"><h2>HOT <strong class="text-primary">TOPICS</strong></h2></div>
		<p class="col-md-6 offset-md-3">Check out this week's hottest and most read topics</p>
	</div>
	
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6 col-12 padding-0">
			<div class="hovereffect">
				<img class="img-fluid" src="/media/unnamed.png" alt="img">
				<div class="overlay">
					<h2>topic 1</h2>
					<a class="info" href="topics.html">Go</a>
				</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="/media/unnamed.png" alt="img">
        <div class="overlay">
           <h2>topic 2</h2>
           <a class="info" href="topics.html">go</a>
        </div>
      </div>
     </div>
     
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="/media/unnamed.png" alt="img">
        <div class="overlay">
           <h2>topic 3</h2>
           <a class="info" href="topics.html">go</a>
        </div>
      </div>
     </div>
     
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padding-0">
       <div class="hovereffect">
        <img class="img-fluid" src="/media/unnamed.png" alt="">
        <div class="overlay">
           <h2>topic 4</h2>
           <a class="info" href="topics.html">go</a>
        </div>
      </div>
     </div>
		
	</div>
	
</div>

        {% for category in categories %}
            <a href="{% url 'homepage:category_topics' category.pk %}">{{ category.name }}</a><br>
              <small style="color: #888">{{ category.description }}</small>
            {% endfor %}





<div class="container mt-5">
	<div class="text-center mb-4"><h2>The <strong class="text-primary">Team</strong></h2></div>
	<div class="row">
		<div class="col-md-12">
			<div id="testimonial-slider" class="owl-carousel">
				<div class="testimonial">
                    <div class="pic">
                        <img src="/media/guts_berserk__fanart____psd_file_by_slyvanie-dbta7ji.png">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">Parth</h3>
                        <span class="post">Front end</span>
                    </div>
                    <p class="description">
                        6.05 cgpa
                    </p>
                </div>
			
			 <div class="testimonial">
                    <div class="pic">
                        <img src="/media/poornima.jpg">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">DOC</h3>
                        <span class="post">Back end and connectivity</span>
                    </div>
                    <p class="description">
                        Modest Genius, lies about marks
                        and does not go to medical doctors.
                    </p>
                </div>
                <div class="testimonial">
                    <div class="pic">
                        <img src="/media/sahni.jpg">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">PYTHON365</h3>
                        <span class="post">Back end</span>
                    </div>
                    <p class="description">
                        Highly talented and placed in TCS, cannot grow a beard.
                    </p>
                </div>
		</div>
	</div>
</div>
</div>

<footer>
	
</footer>







<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script>
   $(document).ready(function(){
	   $("#testimonial-slider").owlCarousel({
		   items:2,
		   itemsDesktop:[1000,2],
		   itemsDesktopSmall:[979,2],
		   itemsTablet:[768,1],
           pagination:false,
           navigation:true,
           navigationText:["",""],
           autoPlay:true
	   })
   })	
</script>


	 
{% endblock %}

